legend,
fieldset,
select,
textarea,
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

input,
select,
textarea {
  border: 2px solid #6c43cc;
  border-radius: 0.25rem;
  transition: all 0.15s ease-in-out;
}

input[type="text"],
select,
textarea {
  font: 1.25rem / 1.5 sans-serif;
  box-sizing: border-box;
  width: 100%;
  padding: 0.5rem 0.75rem;
  background-color: #333;
  color: white;
}

input:hover {
  border: 2px solid #9775e8;
}

#playlistForm {
  display: flex;
  align-items: center;
  width: 40%;
  gap: 2rem;
}

.playlistContainer {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
}

.headerInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 2rem 0 2rem;
}

.playlistHeader {
  color: white;
  padding-right: 4rem;
  padding-bottom: 1rem;
}

.btn {
  background-color: #6c43cc;
  border: #9775e8;
  transition: all 0.15s ease-in-out;
  color: white;
}

.btn:hover {
  background-color: #50309c;
  color: white;
}

.playlistNotify {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  text-align: center;
  font-weight: 700;
}
